*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.body{
   width: 400px;
   height: 300px;
   background-color:aliceblue;
   border-style: none;
   padding: 100px;
   margin: 500px;
   box-shadow: gray (10,20,0,10);
   border-style: none;
   border-radius: 20px;
   gap: 50px;
}
h1{
    padding-bottom: 20px;
}
#addBtn{
   width:40px;
   height:25px;
   color:black;
   font-size: 10px;
   font-weight: bold;
   cursor: pointer;
   background-color: rgb(197, 183, 210);
}
#addBtn:hover{
    background-color: rgba(136, 53, 214, 0.903);
}