body {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 100px;
    margin: 100px;


}

#calculator {
    background-color: rgb(48, 49, 49);
    border-radius: 20px;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    margin: 10px;
    gap: 10px;
    border-radius: 50px;


}

#keys {
    color: black;
    background-color: rgba(170, 167, 167, 0.624);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;

}

.keys {
    color: black;
    background-color: rgba(170, 167, 167, 0.624);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}

#display {
    width: 250px;
    height: 50px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(251, 244, 235);
    align-content: center;
    padding-left: 20px;
    font-size: 2rem;

}

.operator {
    background-color: rgb(255, 89, 0) !important;
}
